| <div id="job_card_menu" class="job_card_category_
= job_card.type
| "> 
= link_to '詳細', daphy_job_card_path(job_card)
|   | 
= link_to '編集', edit_daphy_job_card_path(job_card)
|    | 
= link_to '削除', daphy_job_card_path(job_card), method: :delete, data: { confirm: 'Are you sure?' }
|    | 
