<div id="job_card_menu" class="job_card_category_<%= trashed_job_card.type %>">
  <%= link_to '詳細', daphy_job_card_path(trashed_job_card) %>&nbsp;&nbsp;|
  <%= link_to '元に戻す', edit_daphy_job_card_path(trashed_job_card) %> &nbsp;&nbsp;|
  <%= link_to '削除', daphy_job_card_path(trashed_job_card), method: :delete, data: { confirm: 'Are you sure?' } %> &nbsp;&nbsp;|
</div>
