<h1>Daphy::Jobs#index</h1>
<table>
  <tr>
    <td>
    <div class='job_list'>
      <%= render @todos %>
    </div>
    </td><td>
    <div class='job_list'>
      <%= render @doings %>
    </div>
    </td><td>
    <div class='job_list'>
      <%= render @dones %>
    </div>
    </td>
  </tr>
</table>

