<%= flash[:notice] %>
<hr/>
<div class='job_board' id='job_board'>
  <div class='job_list' id='todo_list'>
    TODO:<%= render partial: 'job_card', collection:  @todos %>
  </div>
  <div class='job_list' id='doing_list'>
    DOING:<%= render partial: 'job_card', collection: @doings %>
  </div>
  <div class='job_list' id='done_list'>
    DONE:<%= render partial: 'job_card', collection: @dones %>
  </div>
</div>
<script type='text/javascript'>
  $("#todo_list").droppable({
    drop: function(event, ui) {
      $(this).addClass( "ui-state-highlight" )
        .find( "div" )
        .html( "ドロップされました!" );
      alert('drop');
     }
  });

  // $("#doing_list").droppable({
  $(".job_list").droppable({
    drop: function(event, ui) {
      $(this).html($(this).html() +
              ui.draggable.text() + 'がドロップされました。<br />');
    }
  });

  $("#done_list").droppable({
    drop: function(event, ui) {
      alert('drop');
    }
  });
</script>
