<%= flash[:notice] %>
<hr/>
<div class='job_board'>
  <div class='job_list' id='todo_list'>
    TODO:<%= render partial: 'job_card', collection:  @todos %>
  </div>
  <div class='job_list' id='doing_list'>
    DOING:<%= render partial: 'job_card', collection: @doings %>
  </div>
  <div class='job_list' id='done_list'>
    DONE:<%= render partial: 'job_card', collection: @dones %>
  </div>
</div>
