<%= flash[:notice] %>
<div class='job_board'>
  <div class='job_list'>
    TODO:<%= render @todos %>
  </div>
  <div class='job_list'>
    DOING:<%= render @doings %>
  </div>
  <div class='job_list'>
    DONE:<%= render @dones %>
  </div>
</div>

