// Place all the styles related to the koremita/jobs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.job_board {
  position: relative;
  border: 0px;
  vertical-align: text-top;
  width: 90%;
  height: 1000px;
  z-index: 1;
  -webkit-border-radius: 10px;/* Safari、Google Chrome */
  -moz-border-radius: 10px;/* Firefox */
}
.job_list {
  text-align: left;
  font-weight: bold;
  border: 2px solid #333333;
  background-color: #FFFFFF;
  vertical-align: text-top;
  width: 25%;
  height: 900px;
  overflow: visible;  
  padding: 10px;
  margin: 10px;
  float: left;
  -webkit-border-radius: 10px;/* Safari、Google Chrome */
  -moz-border-radius: 10px;/* Firefox */
}
.job {
  border: 1px solid #333333;
  font-size: 10pt;
  width: 200px;
  margin: 3px;
  float: left;
  cursor: move;
  padding: 5px;
  margin: 5px;
  -webkit-border-radius: 10px;/* Safari、Google Chrome */
  -moz-border-radius: 10px;/* Firefox */
}
.job_detail {
  border: 1px solid #333333;
  font-size: 12pt;
  width: 500px;
  height: 600px;
  margin: 3px;
  padding: 5px;
  margin: 5px;
  -webkit-border-radius: 10px;/* Safari、Google Chrome */
  -moz-border-radius: 10px;/* Firefox */
}

.trash_job_list {
  // position: relative;
  text-align: left;
  font-weight: bold;
  border: 2px solid #333333;
  background-color: #FFFFFF;
  vertical-align: text-top;
  width: 80%;
  height: 900px;
  overflow: visible;  
  padding: 10px;
  margin: 10px;
  float: left;
  // z-index: 2;
  -webkit-border-radius: 10px;/* Safari、Google Chrome */
  -moz-border-radius: 10px;/* Firefox */
}
.job_form {
  position: relative;
  text-align: left;
  font-weight: bold;
  border: 2px solid #333333;
  background-color: #FFFFFF;
  vertical-align: text-top;
  width: 800px;
  height: 700px;
  overflow: visible;  
  padding: 70px;
  margin: 80px;
  // z-index: 1;
  -webkit-border-radius: 10px;/* Safari、Google Chrome */
  -moz-border-radius: 10px;/* Firefox */
}

@mixin job_status($status) {
  @if $status == 'Todo' {
    font-size: 9px;
    background-color: #67BA37;
  }@else if $status == 'Doing' {
    font-size: 9px;
    background-color: #9DB1FF;
  }@else if $status == 'Done' {
    font-size: 9px;
    background-color: #FF3333;
  }@else if $status == 'Trashed' {
    font-size: 9px;
    background-color: #FFCC00;
  }@else if $status == 'Icebox' {
    font-size: 9px;
    background-color: #0000BB;
  }@else {
    font-size: 9px;
  }
}

.job_status_todo { @include job_status('Todo'); }
.job_status_doing { @include job_status('Doing'); }
.job_status_done { @include job_status('Done'); }
.job_status_trashed { @include job_status('Trashed'); }
.job_status_icebox { @include job_status('Icebox'); }

.job_detail {
  position: relative;
  text-align: left;
  font-weight: bold;
  border: 2px solid #333333;
  background-color: #FFFFFF;
  vertical-align: text-top;
  overflow: visible;
  padding: 70px;
  margin: 80px;
  z-index: 1;
  -webkit-border-radius: 10px;/* Safari、Google Chrome */
  -moz-border-radius: 10px;/* Firefox */
}

.job_comment_list {
  text-align: left;
  font-weight: bold;
  border: 2px solid #333333;
  background-color: #FFFFFF;
  vertical-align: text-top;
  overflow: visible;
  .comment {
    background-color: #FFFFDB;
    border: 1px solid #333333;
    font-size: 10pt;
    width: 400px;
    margin: 3px;    
  } 
}
