<% if @job_folders %>
<menu>
  <div class='left_div'>
    <%= link_to_unless_current '作成', new_daphy_group_job_folder_path %>
  </div>
</menu>
<div class='job_folder_list'>
  アーカイブ一覧
  <% @job_folders.each do |job_folder| %>
    <div class='job_folder job_status_Done'>
      <%= render partial: 'job_folder_menu', locals: { job_folder: job_folder } %>
      <%= job_folder.name %>
    </div>
  <% end %>
</div>
<% else %>
  アーカイブする完了済みのタスクがありません
<% end %>
