ここに一覧を表示
これだと自分がの画像になるからassociationでrequest_from_user_idで検索したuserの情報を表示するようにする
<table>
  <%= @friend_request_registrations.each do |friend| %>
  <tr><td>
    <div  class="friend">
      <%= image_tag(friend.image_url, size: '100x100') %><br/>
      <%= friend.name %>
    </div>
  </td></tr>
  <% end %>
</table>
