<div class='group_form'>
  <%= form_for @group, url: { action: @action, controller: 'admin/groups' } do |f| %>
    <%= f.label :name %>:<%= f.text_field :name %><br/>
    <br/>
    <%= f.submit %>
  <% end %> 
</div>
